#Comment_Box {
  width: 75rem;
  background-color: white;
  box-shadow: 0 2px 15px 0 rgb(0 0 0 / 30%);
  height: 15rem;
  margin: auto;
}

.Comment_Heading {
  color: #0067a5;
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  font-size: 170%;
}
