.R2Card_Box {
  width: 240px;
  height: 180px;
  background-color: white;
  box-shadow: 0 2px 15px 0 rgb(0 0 0 / 30%);
  border: 1px solid #0067a5;
  border-radius: 15px;
}

#card_title {
  font-weight: bold;
}

#card_img1 {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
