#SMBox {
  width: 100%;
  height: 15rem;
  background-color: white;
  margin-top: 5rem;
  box-shadow: 0 2px 15px 0 rgb(0 0 0 / 30%);
}

.SocialMedia_Heading {
  color: #0067a5;
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  font-size: 170%;
}

#Social_Media_Icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
